/* add minimalist basic style in css classic */

body {
    color: #292929;
    background-color: #e5e5e5;
}

button {
    color: #e3e2e2;
    padding: 0.25rem 1rem;
    background-color: #292929;
    border-radius: 0.25rem;
    cursor: pointer;
}

button.secondary {
    background-color: #1f8b40;
}